// Colors



// Fonts

$font-path: "../fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "PT-Root-UI";
$font-Regular: "Regular";
$font-Medium: "Medium";
$font-Bold: "Bold";

$font-weight-regular: 400;
$font-weight-medium: 400;
$font-weight-bold: 700;

// Mediaquery

$screen-desktop: "(min-width: 960px)";

// Transition

$transition: all 0.5s;
