// Colors

$green: #3EB57C;

// Fonts

$font-path: "../fonts";
$font-family-default: "Arial", "Helvetica", sans-serif;
$font-family-custom: "PT-Root-UI";
$font-Regular: "Regular";
$font-Medium: "Medium";
$font-Bold: "Bold";

$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

// Mediaquery

$screen-tablet: "(min-width: 850px)";
$screen-desktop: "(min-width: 1200px)";

// Transition

$transition: all 0.5s;
